<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}

</head>
<body>
	<main class="container">
		<section class="about">
			<img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}"> 
			<h2>{{ site.plainwhite.name }}</h2>
			<p class="tagline">{{ site.plainwhite.tagline }}</p>
			<ul class="social">
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
				<!--<a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
				<a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>-->
				<a href="https://stackoverflow.com/users/7601910/smile"><img src="https://stackoverflow.com/users/flair/7601910.png" width="130" height="40" alt="profile for smile at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for smile at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
			</ul>
			<p>&copy; 2019</p>
		</section>
		<section class="content">
			{{ content }}
		</section>

	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
     <script src="/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
 	<script src="/js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
 	<script src="/js/mustache.js" type="text/javascript" charset="utf-8"></script>
 	<script src="/js/date.format.js" type="text/javascript" charset="utf-8"></script>
	 <script src="/js/URI.min.js" type="text/javascript" charset="utf-8"></script>
	 <script src="/js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	

	{%- endif -%}

</body>
</html>
